/** Simple Reset - START */
html {
    box-sizing: border-box;
    font-size: 16px;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/** Global - START */

body {
    font-family: 'Lato', sans-serif;
}

#note-app {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fbfbf9;
    display: flex;
    flex-direction: column;
}



main {
    position: relative;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 200px 250px auto;
    grid-template-rows: calc(100vh - 3em);
    grid-template-areas: "categories notes editor";
}

.custom-radio {
    position: relative;
}

.custom-radio:hover {
    cursor: pointer;
}

.custom-radio input[type="radio"] {
    display: none;
}

.custom-radio label {
    cursor: pointer;
    display: block;
    padding: .5em 2.5em .5em .75em;
}

.custom-radio:hover label {
    background-color: rgba(239, 187, 0, 0.08);
}

.custom-radio input[type="radio"]:checked~label {
    background-color: #f5eea9;
}

.input-field {
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input-field input {
    background-color: transparent;
    outline: none;
    box-shadow: none;
    padding: .4em;
    border: 1px solid #d0d0d0;
    border-radius: .3em;
    max-width: 100%;
}

.input-field input:focus {
    background-color: #e2e0e0;
}

.icon-button {
    background-color: #efefef;
    width: 1.75em;
    border-radius: .3em;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    padding: .2em;
    box-shadow: none;
    border: 1px solid #d0d0d0;
}

.icon-button>svg {
    pointer-events: none;
    stroke: #949494;
    width: 100%;
    stroke-width: 1.7;
}

.icon-button:hover {
    background-color: #e0e0e0;
}

.content-placeholder {
    font-size: 16px;
    color: #aaa;
}

/** Toolbox - START */

.header__layout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.toolbox {
    height: 3em;
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    border-bottom: 2px solid #d0d0d0;
    background: #f5f5f5;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#add-category-form {
    display: flex;
    margin-right: 1.7em;
}

#add-category-form .input-field {
    max-width: 140px;
}

#add-category-form button {
    width: 2em;
    padding: 0 .3em;
    margin-left: .4em;
}

.toolbox__btn {
    width: 26px;
    margin-left: .5rem;
}

/** Categories List - START */
#categories-list {
    grid-area: categories;
    overflow-y: auto;
    border-right: 1px solid #e0e0e0;
    padding: .25em;
}

.category-item {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    margin: 2px;
}

.category-item .icon-button {
    position: absolute;
    top: 50%;
    right: .5em;
    transform: translateY(-50%);
    visibility: hidden;
    opacity: 0;
    transition: all .1s ease-in;
}

.category-item .icon-button:nth-of-type(2) {
    right: 2.5em;
}

.category-item:hover .icon-button {
    visibility: visible;
    opacity: 1;
}

/** Notes List - START */
#notes-list {
    grid-area: notes;
    overflow-y: auto;
    border-right: 1px solid #e0e0e0;
    padding: .25em;
}

.note-item {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    margin: 2px;
}

.note-item .icon-button {
    position: absolute;
    top: 50%;
    right: .5em;
    transform: translateY(-50%);
    visibility: hidden;
    opacity: 0;
    transition: all .1s ease-in;
}

.note-item:hover .icon-button {
    visibility: visible;
    opacity: 1;
}

.note-item__title {
    display: block;
    margin-bottom: .3em;
}

.note-item__subtitle {
    display: block;
    color: #888;
    font-size: 14px;
}

.note-item__datetime {
    display: block;
    color: #888;
    font-size: 12px;
    margin-top: .3em;
}

/** Editor - START */
#note-editor {
    grid-area: editor;
    margin: 5px;
}

#note-add-edit-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    margin: 2px auto;
}

#note-add-edit-form input,
#note-add-edit-form textarea {
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    padding: 1em;
    box-shadow: none;
    outline: none;
}

#note-add-edit-form input {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

#note-add-edit-form textarea {
    flex-grow: 1;
    min-width: 100%;
    max-width: 100%;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
}

#note-add-edit-form textarea:focus,
#note-add-edit-form input:focus {
    background-color: #f5f5f5;
}

#note-add-edit-form button {
    background: #e0e0e0;
    box-shadow: none;
    border: none;
    padding: 1em;
    border-radius: .3em;
    cursor: pointer;
}

#note-add-edit-form button:hover {
    background-color: #d5d5d5;
}


/** Alert Box - START */
.alert-box {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    visibility: hidden;
    opacity: 0;
    transition: all .1s ease-in;
}

.alert-box.visible {
    visibility: visible;
    opacity: 1;
}

.alert-box__inner {
    padding: 1em;
    background: #fff;
    border-radius: .5em;
    width: 100%;
    max-width: 360px;
}

.alert-box__header {
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.alert-box__message {
    margin: 1rem 0;
    text-align: left;
    font-size: 16px;
    color: #888;
}

.alert-box__ok {
    float: right;
    background: #e0e0e0;
    box-shadow: none;
    border: none;
    padding: .5em 1em;
    border-radius: .3em;
    cursor: pointer;
}

.alert-box__ok:hover {
    background-color: #d5d5d5;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    width: 20px;
    height: 20px;
    color: #e0e0e0;
    padding-top: 5px;
    transition: 0.5s;
}


.section__separation{
    color: #e0e0e0;
    opacity: 0.5;
    width: 100%;
}

.section__label{
    margin: 1rem;
}

#copyright{
    position: relative;
    bottom: 0;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #fbfbf9;
    border: 1px solid #e0e0e0;
    font-size: small;
}

#copyright > a{
    margin-left: 10px;
    display: inline;
    text-decoration: none;
    color: red;
}

.d-none{
    display: none;
}

@media screen and (min-width:700px) {

    #menu {
        display: none;
    }

    .section__label{
        display: none;
    }
    
    .section__separation{
        display: none;
    }
    button > span{
        display: none;
    }
}

.rotate{
    transform: rotate(-90deg);
}

.navbar .dnone{
    display: none;
    height: 0;
    width: 0;
}

@media screen and (max-width: 700px) {

    .toolbox{
        justify-content: space-between;
    }

    .dnone .navitem, .dnone .navitem > *{
        display: none;
    }



    .toolbox{
        height: fit-content;
        display: flex;
        flex-direction: column;

    }

    .toolbox__btn{
        width: 85%;
        opacity: 0.9;
    }

    button > svg:first-child{
        display: block;
    }

    button > svg{
        display: none;
    }

    .navbar{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0;
    }

    .navitem{
        margin: 0.5rem;
    }   

    .notepad-app{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    main {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100px;
        width: 100%;
        border: none;
        height: fit-content;
    }

    section>form {
        height: 200px;
    }

    #note-add-edit-form, .category-item, .note-item{
        width: 90%;        
    }

    #categories-list, #notes-list{
        border-right: none;
    }

}